<div class="row align-items-center text-center" *ngIf="countries">
  <div class="col-md-6 mt-5">
    <app-select-match *ngIf="countries" title="Home" [countries]="countries" (onChange)="setHomeTeam($event)" id="home"></app-select-match>
  </div>

  <div class="col-md-6 mt-5">
    <app-select-match *ngIf="countries" title="Away" [countries]="countries" (onChange)="setAwayTeam($event)"  id="away"></app-select-match>
  </div>
</div>

<div>

  <form [formGroup]="scoreForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input class="form-control" type="number" placeholder="00" formControlName="homeScoreInput" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input class="form-control" type="number" placeholder="00" formControlName="awayScoreInput"  />
        </div>
      </div>
    </div>

    <button (click)="addMatch(scoreForm)" class="btn btn-primary btn-block btn-lg" [disabled]="scoreForm.invalid">Add match</button>
  </form>
</div>