@import '~bootstrap/scss/functions';
@import '_variables/bootstrap';
@import '~bootstrap/scss/bootstrap';

@import '_components/_carousels/carousels';

body {
}

main.container {
  padding: 60px 15px 0;
}

html,body {
  height: 100%;
  width: 100%;
}

.wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}