<ng-container *ngIf="afAuth.authState | async; else showLogin">
    <div class="wrapper" [ngStyle]="{'background-image': 'url(' + backgroundImageUrl + ')'}">
        <app-navigation *ngIf="userObservable" [userObservable]="userObservable"></app-navigation>
        <main role="main" class="container">
          <router-outlet></router-outlet>
        </main>
    </div>
</ng-container>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>