<div id="carousel-{{ id }}" class="carousel slide select-carousel" data-ride="carousel">
  <ng-container *ngIf="teams">
    <div class="carousel-inner">
      <div class="carousel-item active" *ngFor="let team of teams; let index = index;" [class.active]="index == 0" id="{{ team.id }}">
        <h3>{{ team.name }}</h3>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-{{ id }}" role="button" data-slide="prev" *ngIf="teams.length > 1">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-{{ id }}" role="button" data-slide="next" *ngIf="teams.length > 1">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </ng-container>
</div>