$hover-transition-delay: 0.2s;

.select-carousel {

  background: rgba(white, 0.85);

  height: 140px;
  margin: 20px 0;
  padding: 10px 0;

  &:hover {
    background: $primary;
    transition: 0.1s;
    transition-delay: $hover-transition-delay;

    h3 {
      color: white;
      transition-delay: $hover-transition-delay;
    }

    .carousel-control-prev-icon {
      background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c2fe38' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
      transition-delay: $hover-transition-delay;
    }

    .carousel-control-next-icon {
      background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c2fe38' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
      transition-delay: $hover-transition-delay;
    }
  }


  .carousel-item {
    transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
  }

  .carousel-control-prev-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231f1a51' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231f1a51' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  h3 {
    color: $primary;
    font-size: 24px;
    margin: 5px 0;
    text-transform: uppercase;
  }

  img {
    margin: 10px 0;
  }
}