<table class="table mt-5" *ngIf="matches">
  <thead>
  <tr>
    <th class="text-right">Home</th>
    <th class="text-center">Score</th>
    <th class="text-left">Away</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let match of matches;">
    <td width="40%" class="text-right">
      <ng-container *ngIf="match.homeUser && match.homeTeam">
        <h2>{{ match.homeUser.displayName }}</h2>
        <h5>{{ match.homeTeam.name }}</h5>
      </ng-container>
    </td>
    <td width="20%" class="text-center">
      <ng-container *ngIf="match.awayScore && match.homeScore">
        <h1>{{ match.homeScore }} - {{ match.awayScore }}</h1>
      </ng-container>
    </td>
    <td width="40%" class="text-left">
      <ng-container *ngIf="match.awayUser && match.awayTeam">
        <h2>{{ match.awayUser.displayName }}</h2>
        <h5>{{ match.awayTeam.name }}</h5>
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>