<div id="carousel-{{ id }}" class="carousel slide select-carousel" data-ride="carousel">
  <ng-container *ngIf="leagues">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let league of leagues; let index = index;" [class.active]="index == 0" id="{{ league.id }}">
        <h3>{{ league.name }}</h3>
        <img *ngIf="leagueLogos[league.id]" src="{{ leagueLogos[league.id] }}" width="60" height="60" />
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-{{ id }}" role="button" data-slide="prev" *ngIf="leagues.length > 1">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-{{ id }}" role="button" data-slide="next" *ngIf="leagues.length > 1">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </ng-container>
</div>