<app-select-country-carousel id="{{id}}-country" [countries]="countries" (slide)="slideCountry($event)" #countryCarousel></app-select-country-carousel>
<app-select-team-carousel id="{{id}}-team" [teams]="teams" (slide)="slideTeam($event)" #teamCarousel></app-select-team-carousel>
<app-select-league-carousel id="{{id}}-league" [leagues]="leagues" (slide)="slideLeague($event)" #leagueCarousel></app-select-league-carousel>