<div id="carousel-{{ id }}" class="carousel carousel-country slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" *ngFor="let user of users; let index = index;" [class.active]="index == 0" id="{{ user.id }}">
      <h3>{{ user.name }}</h3>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel-{{ id }}" role="button" data-slide="prev" *ngIf="user.length > 1">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-{{ id }}" role="button" data-slide="next" *ngIf="user.length > 1">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>